In [ ]:
import numpy as np
import pandas as pd
import sklearn as sk

In [ ]:
data = pd.read_csv("Salary_Data.csv")

In [ ]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
data.shape

(30, 2)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [ ]:
data.isnull()

    YearsExperience  Salary
0             False   False
1             False   False
2             False   False
3             False   False
4             False   False
5             False   False
6             False   False
7             False   False
8             False   False
9             False   False
10            False   False
11            False   False
12            False   False
13            False   False
14            False   False
15            False   False
16            False   False
17            False   False
18            False   False
19            False   False
20            False   False
21            False   False
22            False   False
23            False   False
24            False   False
25            False   False
26            False   False
27            False   False
28            False   False
29            False   False

In [ ]:
data.isnull().any()

YearsExperience    False
Salary             False
dtype: bool

In [ ]:
x = data.iloc[:,0:1]

In [ ]:
y = data.iloc[:,1:2]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state =1)

In [ ]:
x_test

    YearsExperience
17              5.3
21              7.1
10              3.9
19              6.0
14              4.5
20              6.8
26              9.5
3               2.0
24              8.7

In [ ]:
y_test

      Salary
17   83088.0
21   98273.0
10   63218.0
19   93940.0
14   61111.0
20   91738.0
26  116969.0
3    43525.0
24  109431.0

## Model building

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(x_train,y_train) #training

LinearRegression()

In [ ]:
pred = lr.predict(x_test)

In [ ]:
pred

array([[ 74821.41578619],
       [ 91385.43626305],
       [ 61938.28874864],
       [ 81262.97930497],
       [ 67459.62890759],
       [ 88624.76618357],
       [113470.79689886],
       [ 44454.04491195],
       [106109.01002026]])

## Model building

In [ ]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train , y_train)

LinearRegression()

In [ ]:
pred = lr.predict(x_test)

In [ ]:
pred

array([[ 74821.41578619],
       [ 91385.43626305],
       [ 61938.28874864],
       [ 81262.97930497],
       [ 67459.62890759],
       [ 88624.76618357],
       [113470.79689886],
       [ 44454.04491195],
       [106109.01002026]])

In [ ]:
y_test

      Salary
17   83088.0
21   98273.0
10   63218.0
19   93940.0
14   61111.0
20   91738.0
26  116969.0
3    43525.0
24  109431.0

## Evaluation metrics

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(pred, y_test) #measure the goodness of data near to 1 is good

0.906596908709785